<div class="jumbotron">
    <center>
        <h1>За приложението</h1>
    </center>
    <center>
        <p class="lead">SofiaPocketGuide е един проект, залагащ изцяло на съвременните технологии и по-точно на развитието в областта на изкуствения интелект
        и машинното самообучение. Чрез анализ на естествен език с помощта на различни алгоритми, както и на локациите, които услуги като Foursquare и Google Maps 
        предлагат, приложението позволява интеракцията с чатбот, който да ви препоръчва ресторанти или заведения на базата на вашите предпочитания и вкус.</p>
    </center>
</div>
<div class="row">
    <center>
        <div class="col-md-12">
            <p class="btn btn-default">Ако се интересувате повече от кода и структурата на приложението, пишете ни.</p>
        </div>
    </center>
</div>


