<div class="jumbotron">
    <center>
        <h1>Добре дошли!</h1>
    </center>
    <center>
        <p class="lead">SofiaPocketGuide е вашият пътеводител към откриване на най-близките и подходящи заведения според вашите интереси. Нуждаете се от помощ при избора?</p>
    </center>
    <center>
        <p>@Html.ActionLink("Започнете чат сега >>", "Chat", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
    </center>
</div>
<div class="row">
    <center>
        <div class="col-md-12">
            <h2>Нуждаете се от помощ?</h2>
            <p>Ако искате да научите повече за приложението и работата му, натиснете тук:</p>
            <p>@Html.ActionLink("Помощ >>", "Index", "Help", null, new { @class = "btn btn-default" })</p>
        </div>
    </center>
</div>
